@using SandwichShopMVC.Models
@model Tuple<List<Menu>, UpdateSales>

@{
    ViewBag.Title = "Update Sales";
}

<h2>Update Sales</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item2.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (Menu menu in Model.Item1) {
    <tr>
        <td>
           @menu.Name
        </td>
        <td>
            @Html.DisplayFor(model => model.Item2.Quantity)
        </td>
        <td>
            
        </td>
    </tr>
}
</table>
<p>
    <!--There is an issue here that is saying that there is no instantiated instance of an object-->
    <!--These are just the Edit and Delete links respectively-->
    <!--We possibly don't need these anyways-->

    <!--@@Html.ActionLink("Edit", "Edit", new { id=Model.Item2.ID}) |-->
    <!--@@Html.ActionLink("Delete", "Delete", new { id=Model.Item2.ID })-->
</p>

<a class="btn btn-default" @Html.ActionLink("Update", "Create")</a>