@using SandwichShopMVC.Models;
@model Tuple<List<Ingredients>, Menu>

@model SandwichShopMVC.Models.BigViewModel


@{
    ViewBag.Title = "Create";
    
   
}

<link rel="stylesheet" href= "//cdn.jsdelivr.net/chosen/1.1.0/chosen.css" />
<script src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>


@**@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Item2.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item2.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(tuple => tuple.Item2.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Where the dropdown menu begins-->
        
        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item2.Ingredients, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(m => m.Item1,
                                    new SelectList(Model.Item1, "Id", "Name"),
                                    "Choose a Category...",
                                    new
                                    {
                                        id = "CategoryId",
                                        multiple = "",
                                        @class = "chzn-select srs-select search-dropdown",
                                        data_placeholder = "Choose a Category..."
                                    })
                @Html.DropDownListFor(m => m.Item1, new SelectList(Model.Item1, "ID", "Name"), new {  @id = "CategoryId" , @class = "form -control chosen-select", @multiple = "true" })
            </div>
        </div>
        

             
}

<script>
  //  $('.chosen-select').chosen();
    $(document).ready(function () {

            $('.chzn-select').chosen();
        });
    </script>

    <html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
            $(function () {
                function moveItems(origin, dest) {
                    $(origin).find(':selected').appendTo(dest);
                }

                function moveAllItems(origin, dest) {
                    $(origin).children().appendTo(dest);
                }

                $('#left').click(function () {
                    moveItems('#sbTwo', '#sbOne');

                });

                $('#right').on('click', function () {
                    moveItems('#sbOne', '#sbTwo');
                });


            });
        </script>
    </head>
    <body>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Menu</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Menu.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Menu.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Menu.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ListBoxFor(model => model.Ingredients, new SelectList(Model.Ingredients, "ID", "Name"), new { id = "sbOne", Size = 10 , @class = "listbox"})
            @Html.ListBoxFor(model => model.Menu.Ingredients, new SelectList("", new List<SelectListItem>()), new { id = "sbTwo", Size = 10, @class = "listbox" })

           

           

            <br />

            <input type="button" id="left" value="<" />
            <input type="button" id="right" value=">" />

            <script>
                function myFunction()
                {
                    var IngredientsArray = new Array();
                    $('select option').each(function () {
                        IngredientsArray.push($(this).val());
                    });

                    var x = document.getElementById("sbTwo");
                    var IngredientsArray = new Array();
                    for (i = 0; i < x.length; i++) {
                        IngredientsArray.push(x.options[i].text);
                    }
                    $.ajax({
                        type:"POST",
                        url: "/MenuController",
                        data: JSON.stringify({
                            
                            Ingredients: IngredientsArray

                        })
                       
                    })
                    alert(IngredientsArray.join("\n"));
                    
                };
            </script>



            <!--This is where the button starts-->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" onclick="myFunction()" />
                </div>
            </div>
        </div>

    </body>
</html>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
