@using SandwichShopMVC.Models;
@model Tuple<List<Ingredients>, Menu>


@{
    ViewBag.Title = "Details";
}

<h2>Menu</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Item2.Name)
        </dt>
        <!--This is where the name is displayed for the 'header'-->
        <dd>
            @Html.DisplayFor(Model => Model.Item2.Name)
        </dd>       
     
        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Item2.Ingredients)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Item2.Quantity)
                    </th>
                 </tr>
                    
              <!--@@foreach (Menu menu in Model.Item2)-->
              
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Item2.Ingredients)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Item2.Quantity)
                    </td>
                </tr>
                                    
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item2.MenuID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
