@using SandwichShopMVC.Models;
@model Tuple<Ingredients, Menu, Inventory>


@{
    ViewBag.Title = "Details";
}

<h2>Menu</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item2.Name)
        </dd>       

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item3.Ingredients)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Ingredient</th>
                    <td>
                        @Html.DisplayFor(tuple => tuple.Item1.Name)
                    </td>
                    <th>Amount</th>
                        @Html.DisplayFor(tuple => tuple.Item3.Quantity)
                </tr>
                @*@foreach (Ingredients ingredients in Model.Item1 )
    {
       <tr>
           <td>
               @Html.DisplayFor( => item.InventoryName)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.Quantity)
           </td>
       </tr>
    }
                *@
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item2.MenuID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
